body{
    color:black;
    background-color: violet;
}

.piedepagina{
    background-color: wheat;
}

.rojo{
    color: red;
}

#verde{
    color:green;
}

.azul{
    color: blue;
}

.animal{
    background-color: antiquewhite;
}